{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "simon"
    ],
    "env": {
        "node": true,
        "mocha": true
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "parserOptions": {
        "project": "./tsconfig.json",
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "rules": {
        "quotes": [2, "single", {"avoidEscape": true}],
        "indent": ["error", 4, {"SwitchCase": 1}],
        "@typescript-eslint/unified-signatures": "error",
        "@typescript-eslint/prefer-includes": "warn",
        "@typescript-eslint/no-for-in-array": "error",
        "@typescript-eslint/semi": "error",
        "no-extra-semi": "error",
        "semi-style": "error",
        "semi": "error"
    }
}
