{
    "check-coverage": true,
    "skip-full": true,
    "lines": 95,
    "branches": 95,
    "functions": 95,
    "statements": 95,
    "extension": [
        ".ts"
    ],
    "include": [
        "src/**/*.ts"
    ],
    "reporter": [
        "text",
        "text-summary"
    ]
}
